{
  "extends": "airbnb",
  "env": {
    "es6": false,
    "node": true,
    "jquery": true
  },
  "globals": {
    "translateInterface": true,
    "editor": true,
    "conf": true,
    "i18n": true,
    "dialog": true,
    "php_path": true,
    "runner": true,
    "isMainWindow": true,
    "binaryUpdateList": true,
    "updatePhpPath": true,
    "ace": true,
    "ipc": true,
    "goFullScreen": true,
    "runCode": true,
    "setOutput": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "func-names": 0,
    "prefer-arrow-callback:": 0,
    "prefer-template": 0,
    "no-var": 0,
    "comma-dangle": 0
  }
}
