{
  "extends": "airbnb",
  "env": {
    "es6": false,
    "node": true,
    "jquery": true
  },
  "globals": {
    "electron": true,
    "translateInterface": true,
    "editor": true,
    "conf": true,
    "i18n": true,
    "dialog": true,
    "phpPath": true,
    "runner": true,
    "isMainWindow": true,
    "binaryAdd": true,
    "binaryUpdateList": true,
    "updatePhpPath": true,
    "ace": true,
    "ipc": true,
    "goFullScreen": true,
    "runCode": true,
    "setOutput": true,
    "checkPresentation": true,
    "presentationSingle": true,
    "presentationMulti": true,
    "mode": true,
    "remote": true,
    "shell": true,
    "settingsDefault": true,
    "Path": true,
    "packageInfo": true,
    "fs": true,
    "count": true,
    "Split": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "func-names": 0,
    "prefer-arrow-callback:": 0,
    "prefer-template": 0,
    "no-var": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0
  }
}
