html,body{
  height:100%;
  overflow: hidden;
}
body{
  visibility: hidden;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}
#draggable-area{
  position: absolute;
  top: 0;
  height: 25px;
  width: 100%;
  z-index: 5000;
  -webkit-app-region: drag !important;
}
.loader-inner{
  position: absolute;
  top:50%;
  left:50%;
  z-index:1000;
}
.ball-scale-ripple-multiple > div{
  background: #494E57;
}
.top-margin{
  margin-top: 30px;
}
.btn-dark{
  background-color: transparent;
  border:1px solid rgb(61, 61, 61);
  color: rgb(100, 100, 100);
}
#progress-running, #code-running{
  z-index: 1100;
  position: absolute;
  bottom: 0;
  width:100%;
  visibility: hidden;
}
#progress-running .progress, #code-running .progress{
  margin:0;
  height:7px;
  border-radius: 0;
}
#code-running .progress{
  height:9px;
}
#progress-running .progress .progress-bar, #code-running .progress .progress-bar{
  width: 100%;
}
/**
 * Sidebar stuff
 */
#sidebar{
  height:100%;
  width:100px;
  background-color: #21252B;
  color: #ccc;
  float: left;
  cursor: default;
}
#sidebar span.glyphicon{
  font-size:26px;
  display: block;
  margin-bottom: 6px;
}
#sidebar ul{
  list-style: none;
  padding:0;
  text-align: center;
}
#sidebar ul li{
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
#sidebar ul li:hover{
  background-color: #494E57;
}
#sidebar .mode{
  position: absolute;
  margin-bottom:10px;
  bottom: 0;
  text-align: center;
  width: 100px;
}
#sidebar .mode button{
  cursor: default;
}
#sidebar span[data-string]{
  padding: 2px;
  display: block;
  font-size: 12px;
}
#run-version{
  display: block;
  color:#7a7a7a;
  font-size:11px;
}
#sidebar .update-available{
  visibility: hidden;
  padding: 2px;
}
#sidebar .update-available:hover{
  background-color: rgb(141, 201, 250);
}
#sidebar .update-available > span{
  font-size: 11px !important;
}
/* Little hack for presentation sidebar */
.tooltip.left{
  margin-left: -20px;
}

/**
 * Modal tuning
 */
#update .modal-body{
  height: 150px;
}
#check-updates{
  margin-top: 5px;
}

/**
 * Content - The main space
 */
#content{
  height: 100%;
  margin-left: 100px;
}
#my-divider{
  top:400px;
}
#top-component{
  height:400px;
}
#bottom-component{
  top:400px;
}
#content.full{
  margin-left:0;
}

/**
 * Presentation modal
 */
.presentation-button{
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.presentation-button:hover{
  background-color: #f2f2f2;
}
.presentation-button img{
  width: 200px;
}

/**
 * Editor and output
 */
#editor{
  height: 100%;
}
.console{
  overflow-y: scroll;
  height:100%;
}
.console-raw{
  padding-left: 10px;
  padding-top:10px;
  background-color: #000;
  color:#fff;
  font-family: monospace;
  font-size:16px;
  white-space: pre;
}
.console-html{
  display:none;
  background-color: #fff;
}
#status{
  bottom: 0;
  position: absolute;
  padding-left: 5px;
  width: 100%;
  border:1px solid red;
}

/**
 * Settings
 */
.modal-body{
  height: 380px;
  overflow-y: scroll;
}
.tab-pane{
  padding-top: 20px;
}

/**
 * Split pane
 */
.gutter{
 background-color: #eee;
 background-repeat: no-repeat;
 background-position: 50%;
}

.gutter.gutter-horizontal{
 background-image: url('../gfx/grips/vertical.png');
 cursor: ew-resize;
}

.gutter.gutter-vertical{
 background-image: url('../gfx/grips/horizontal.png');
 cursor: ns-resize;
}

split, .gutter.gutter-horizontal{
  height: 100%;
  float: left;
}
