body{
  /*background-color: #21252B;*/
  background: url('../gfx/intro_bg.jpg');
  /*background-size: cover;*/
  background-position: -20px -60px;
  max-width: 100%;
  overflow-x: hidden;
}
div{
  text-align: center;
}
#draggable-area{
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: -1;
  -webkit-app-region: drag !important;
}
#logo{
  margin-bottom: 50px;
  margin-top: 50px;
}
#close-button{
  color: #fff;
  font-size:30px;
  position: fixed;
  top: 0px;
  right: 10px;
}
#close-button button{
  background: none;
  border: none;
}
.well p{
  text-align: justify;
}
.well h1{
  margin-top: 0;
  margin-bottom: 20px;
}
.app-modes{
  width: 110px;
  margin-bottom: 15px;
}
.modes{
  margin-top: 20px;
}
